##############################################################################
# This is the top-level .gitignore file for the WRF model                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################
*.exe
*.o
*.mod
*.a
*.backup
*.f90
external/io_int/diffwrf
external/io_int/test_io_idx
external/io_netcdf/diffwrf
run/p3_lookupTable_1.dat-5.3-3momI
test/em_real/BROADBAND_CLOUD_GODDARD.bin
test/em_real/eclipse_besselian_elements.dat
test/em_real/ishmael-gamma-tab.bin
test/em_real/ishmael-qi-qc.bin
test/em_real/ishmael-qi-qr.bin
test/em_real/p3_lookupTable_1.dat-5.3-2momI
test/em_real/p3_lookupTable_1.dat-5.3-3momI
test/em_real/p3_lookupTable_2.dat-2momI_v5.2.2
test/em_real/wind-turbine-1.tbl
tools/fseeko64_test
tools/fseeko_test
